@page
@model DoTungDuong_Ass2_RazorPages.Pages.HistoryPage.IndexModel

<h2>My News History</h2>
<table class="table">
    <thead><tr><th>ID</th><th>Title</th><th>Headline</th><th>Created Date</th></tr></thead>
    <tbody>
        @foreach (var article in Model.NewsHistory)
        {
            <tr>
                <td>@article.NewsArticleId</td>
                <td>@article.NewsTitle</td>
                <td>@article.Headline</td>
                <td>@article.CreatedDate</td>
            </tr>
        }
    </tbody>
</table>